<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>REGISTER</title>
</head>
<body>
    <div>
        <form class="form-signin" th:action="@{/register}" th:object="${user}" action="/register" method="post">
            <h2 class="form-signin-heading">Please register</h2>
            <input type="text" id="inputUser" name="userName" class="form-control middle" placeholder="Username" required="required"/>
            <input type="password" id="inputPassword" name="password" class="form-control bottom" placeholder="Password" required="required"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</body>
</html>
