<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Spring Boot Tutorial | Register</title>
</head>
<body>
    <div>
        <form th:action="@{/register}" th:object="${user}" action="/register" method="post">
            <div><h2>Register</h2></div>
            <div><input type="text" id="inputUser" name="userName" /></div>
            <div><input type="password" id="inputPassword" name="password" /></div>

            <button>Register</button>
        </form>
    </div>
</body>
</html>
